@import "../../../styles/variables.scss";

.m-navbar {
  & h1 {
    display: none;
}
  display: flex;
  justify-content: space-between;
  background-color: var($white);

  & ul {
    list-style-type: none;
    text-align: center;

    & li {
      float: left;
      padding: $padding;
      transition: margin-top 750ms;
      will-change: margin-top;

      &:hover, &:focus {
        font-weight: bold;
        margin-top: ($margin-soft)*0.4;
      }
    }
  }

& .a-button.navbar {
    padding: $padding;
    margin: $margin;
    background-color: $purple;
    color: $white;
    border-radius: $border-radius;

    &:hover {
      background-color: $white;
      color: $purple;
    }
  }
}
